*{
    border-radius: 5px;
}
#container{
    background-color: #6b7b8c;
    margin: auto;
    padding: 10px;
    width: 1080px;
    height: 600px;
}
#coins_form{
    background-color: #6b7b8c;
    border: 10px;
}
input[type=submit]{
    background-color: #efbb10;
    color: #3b4d61;
    padding: 15px 20px;
    border: none;
}

form{
    background-color: #3b4d61;
    color: white;
    flex: auto;
    margin: 10px;
    padding: 25px;
}
#boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    margin: 10px;
}

#data{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
